
Matchismo.xcodeproj/project.xcworkspace/xcuserdata/clayschubiner.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate

*.xccheckout

*.xcbkptlist

Matchismo/Matchismo.xcodeproj/xcuserdata/clayschubiner.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
